* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

:root {
    --background-start: hsla(232, 100%, 10%, 0.95);
    --background-end: hsla(232, 100%, 10%, 0.85);
}

.container,
.overview-container {
    display: flex;
    flex-direction: column;
    align-items: safe center;
    justify-content: safe center;
    height: 100svh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    box-sizing: content-box;

    &.container {
        position: relative;
        background: linear-gradient(var(--background-start), var(--background-end)),
            url('images/bg.png') center/cover fixed no-repeat;
    }

    &.overview-container {
        background-image: linear-gradient(hsla(246, 97%, 7%, 0.83), hsla(279, 97%, 9%, 0.83));
    }
}


@media only screen and (max-width: 280px),
only screen and (max-height: 600px) {

    .container,
    .overview-container,
    * {
        display: none;
    }
}

.search-results {
    padding: 2rem;
    text-wrap: wrap;
    word-wrap: break-word;
    margin-top: 20px;
    color: hsl(60, 100%, 50%);
}

#jsonContent p,
#jsonContent #p>* {
    font-size: 17px !important;

    &:hover {
        color: hsl(123, 100%, 73%) !important;
        transition: color 0.37s ease-in;
    }
}

li::marker {
    color: #00000000;
}

/* Add hover effects for each scriptures-link item */
a:hover {
    padding: 0.5rem;
    place-content: center;
    border: rgba(0, 255, 255, 0.05) solid 1px;
    border-radius: 0.7rem;
    -webkit-backdrop-filter: blur(1rem) saturate(222%);
    backdrop-filter: blur(1rem) saturate(222%);
    transition: backdrop-filter 0.29s ease-in-out;
}

ol>a:hover {
    padding: 0.5rem;
    place-content: center;
    border: rgba(0, 255, 255, 0.05) solid 1px;
    border-radius: 0.7rem;
    -webkit-backdrop-filter: blur(1rem) saturate(222%);
    backdrop-filter: blur(1rem) saturate(222%);
    transition: backdrop-filter 0.29s ease-in-out;
}


* {
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    display: none;
}

.result-item {
    padding: 8px;
    color: aliceblue;
    border-bottom: 1px solid #ddd;
    width: 90%;

    a {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 217, 0, 0.15);
        border-radius: 10px;
        transition: all 0.3s ease;
        margin: 0;
        padding: 0.61rem;
        font-size: clamp(1rem, 0.9306rem + 0.3704vw, 1.375rem);

        &:hover {
            padding: 0.51rem;
            background-color: rgba(255, 217, 0, 0.1);
            border-color: rgba(255, 217, 0, 0.3);
            transform: scale(1.03);
            -webkit-backdrop-filter: blur(1rem) saturate(222%);
            backdrop-filter: blur(1rem) saturate(222%);
        }
    }
}


.back-link {
    display: block;
    margin-top: 20px;
    color: #f0f5f6;
    text-decoration: none;
    padding: 1.5rem !important;
    font-size: 1.23rem !important;

    &:hover {
        color: hsl(111, 97%, 55%);
        transition: color 0.29s ease-in-out;
        padding: 1rem;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        border: 0;
    }
}


a,
li {
    text-decoration: none;
    color: rgba(255, 217, 0, 0.91);
    display: block !important;
}